@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hang-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.privacy-link {
  display: block;
  color: #0a84ff;
  text-decoration: none;
  font-size: 9px;
  text-align: center;
}
.privacy-link:hover {
  text-decoration: underline;
}